/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 9, 2020, 10:25:26 AM
    Author     : usul
*/
/* Estableciendo el estilo para el área del juego, se indica que la opacidad es del 0.3, con un tamaño de 600 por
   600px con un margen arriba y abajo en 0px y de derecha e izquierda 0px para el efecto de centrado.*/
body{
	margin: 0; padding: 0;
	background: url(../img/Fondo-Mexicano-Infantil-01.jpg);
}
header{
	width: 100%;
}
footer{
	background: url(../img/Fondo-Mexicano-Infantil-04.jpg);
}
h1 img{

	display:block;
	margin:auto;

	/*background: url(../img/Fondo-Mexicano-Infantil-04.jpg);*/
}
#theMemGame{
	opacity: 0.3; width: 1000px; height: 550px; margin: 0px auto; margin-bottom: 5px;
	/*border: 1px solid black;*/
}
/* La tabla que contiene las divisiones que contrentran lo que hay que adivinar, esta dentro de la división 
   principal por lo que, ocupa el 100% de alto y ancho.*/
table{
	width: 85%; height: 85%; background-color:  transparent;
}
/* Cada columna(elemento ->td<-) dentro de cada línea (elemento ->tr<-) se establece que ocupe el 25% de
   espacio, es decir, una 1/4 parte del 100% de la tabla, se establece un color obscuro de fonde y un borde
   redondeado del mismo color.*/

td{
	padding-left: 80px;
	/* width: 15%; height: 25%; */
	width: 11.5%; height: 19%;
	/*background-color:  whitesmoke;*/
	background-color:  transparent;
	/* border: 1px solid darkslategray; */
     border-radius: 10px; 
}

/* A cada "celda" se le asigno la misma clase de estilo "letra" que como caractaristicas tiene el tamaño de la
   letra a 40px, italica, de color más claro del fondo para que se distinga y en una disposición centrada.*/
.letra{
	font-size: 40px; font-style: italic ;
	color: whitesmoke; text-align: center;
}
/* El elemento divición que contiene hasta el final un botón par acontrolar el juego, llamada "theCenter", se le
   indica que sus elementos texto deben de ir centrados.*/
.theCenter{
	text-align: center; margin-bottom: 15px;
	
	 /* border: 1px solid black; */
}